@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    font-size: 16px;
    
}

#cover-text h1,
h2, h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

#title-header {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color: #fff;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #3a3a3a;
    font-weight: 400;
}
#menu, #title-header {
    line-height: 75px;
}
#menu, li {
    list-style: none;
    float: right;
    margin-right: 30px;
    color: #3a3a3a;;

}
a {
    text-decoration: none;
    color: inherit;
}
#menu a {
    text-decoration: none;
    color: inherit;
    
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a ;
}
#article a:hover {
    border-bottom: 1px solid #3a3a3a ;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}



#hero-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/hero-image-2.jpeg);
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


#cover-text {
    
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 300px;

    padding: 20px;
    border-radius: 50%;
    background-color: rgba(107, 207, 241, 0.7);

    bottom: 30px;
    left: 130px;

    position: absolute;
}

#food-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#food-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/a-bar-called-gemma-0.jpeg);
    
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

@keyframes food-image {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}
#food-drink-text h2 {
    font-size: 280%;
    text-align: left;
    margin-left: 5%;
    color: #3a3a3a;
}
#article  {
    font-family: Lato, sans-serif;
    margin-left: 5%;
    text-align: left;
    
    

}

    

article h3 {
    font-size: 180%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-left: 5%;
    letter-spacing: 4px;
    color:#3a3a3a;
}
article, p {
    font-family: Lato, sans-serif;
    font-size: 20px;
    margin-left: 3%;
    text-align: left;
    width: 400px;
    background-color: aqua;
}

#bottom-line {
    border-bottom: 2px solid #3a3a3a;
    width: 400px;
}
