@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    font-size: 16px;
    
}


    
.form-background {
    clear: left;
    background: url(../css/images/form-background.jpeg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.form {
    margin-top: 20%;
    margin-left: 35%;
    height: fit-content;
    width: 400px;
    padding: 20px;
   border: 2px solid #000;
   text-align: center;
    font-weight: 300;
    color: white;
    background-color: rgba(60, 60, 60, 0.6);
    

}
.form h2{
    padding: 20px;
}
label, input{
    display: inline-block;
}
input[type=text]{
    padding: 10px ;
    margin:0 0 10px 0;
    border-radius: 10px;
    border: 1px solid #000;
    
   
}
input[type=email] {
    -moz-box-align: end;
    padding: 10px ;
    margin:0 0 10px 0;
    border-radius: 10px;
    border: 1px solid #000;
}
input[type=date]{
    
    padding: 10px ;
    margin:0 0 10px 0;
    border-radius: 10px;
    border: 1px solid #000;
}
#title-header {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color: #fff;
    text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #3a3a3a;
    font-weight: 400;
}
#menu, #title-header {
    line-height: 75px;
  
}
#menu, li {
    list-style: none;
    float: right;
    margin-right: 30px;
    color: #3a3a3a;;

}
a {
    text-decoration: none;
    color: inherit;
}
#menu a {
    text-decoration: none;
    color: inherit;
    
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a ;
}
#article a:hover {
    border-bottom: 1px solid #3a3a3a ;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}



#hero-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/hero-image-2.jpeg);
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,

#cover-text h3 {
    color: white;
   
}

#cover-text  {
    
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: auto;
    margin: 0 auto;
    width: 500px;
    height: 300px;

    padding: 20px;
    
    

    bottom: 200px;
    right: 130px;

    position: absolute;
}

#food-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}

#food-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/a-bar-called-gemma-0.jpeg);
    
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
#culture-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/nature.jpeg);
    
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}
#culture-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}
@keyframes food-image {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}
@keyframes culture-image {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}
#food-drink-text h2 {
    font-size: 180%;
    text-align: left;
    margin-left: 5%;
    color: #3a3a3a;
}
#article  {
    font-family: Lato, sans-serif;
    margin-left: 5%;
    text-align: left;
    
    

}

    

article, h3 {
    font-size: 180%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-left: 5%;
    letter-spacing: 2px;
    color:#3a3a3a;
}
article, p {
    text-transform: none;
    font-family: Lato, sans-serif;
    font-size: 20px;
    margin-left: 3%;
    text-align: left;
    width: 400px;
    background-color: aqua;
}

#bottom-line {
    border-bottom: 2px solid #3a3a3a;
    width: 400px;
}

